In [8]:
import pandas as pd
df = pd.read_csv('data_sf.csv') 
small_df = df[df.columns[1:8]].head(25)
small_df

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [ ]:
s = df['Position'].value_counts(normalize=True)

s.loc[s<0.01]

s = df['Wage'].value_counts(bins=4)
a = df[(df['Wage'] > s.index[0].left) & (df['Wage'] <= s.index[0].right)]
#a['Nationality'].value_counts(normalize=True)
a[(a.Nationality == 'Spain')].count()

s = df[(df.Club =='Manchester United')]['Nationality'].unique()
len(s)

s = df[(df.Nationality == 'Spain')]['Wage'].value_counts(bins=4, normalize=True)

int(round( s[s.index.left==s.index.left.min()].iloc[0] * 100 ))

In [ ]:
import pandas as pd
df = pd.read_csv('data_sf.csv') 
s = df[(df.Club =='Manchester United')]['Nationality'].unique()
len(s)

s = small_df['Nationality'].value_counts()
s_df = s.reset_index()
s_df.columns = ['Nationality','Players Count']

s = df[(df.Nationality  == 'Brazil') & (df.Club == 'Juventus')]['Name'].unique()
list(s)

s = df[(df.Club == 'Manchester United')]['Nationality'].unique()
len(s)

In [ ]:
grouped_df = df.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)
grouped_df
df.groupby(['Nationality'])[['Wage','Age','ShotPower']].mean().sort_values(['Wage'],ascending=False).head(10)

df[df.Nationality == 'Dominican Republic'][['Name','Club','Wage','Age','ShotPower']]

s = df.groupby(['Club'])['Wage'].agg(['median', 'mean']).sort_values(['median'],ascending=False)
s[(s['mean'] == s['median'])].max()
s.loc[s['mean'] ==13000]

s = df.groupby(df['Nationality'])[['Strength', 'Balance']].max().sort_values(['Strength'],ascending=False)
s.loc["Argentina"]

s = df[df.Nationality == "Argentina"][['Name','Club','Wage','Balance','Strength']]
s[(s.Club == "FC Barcelona")].max()

In [ ]:
pivot = df.loc[df['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],                                                                                            
aggfunc='sum',
margins=True,
fill_value=0)
pivot

s = df.pivot_table(columns = 'Position', index = 'Club'   , values = 'Name', aggfunc = 'count',
fill_value=0)
s.GK.mean()

In [7]:
s = df.loc[df['Club'].isin(['AS Monaco','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],                                                                                            
aggfunc='sum',
fill_value=0)
s

                        Wage
Club               AS Monaco Juventus Manchester United Real Madrid
Nationality
Argentina                  0   205000            206000           0
Belgium                47000        0            230000      240000
Bosnia Herzegovina         0   180000                 0           0
Brazil                 55000   335000             91000      570000
Chile                      0        0            215000           0
Colombia              115000        0                 0           0
Costa Rica                 0        0                 0      195000
Croatia                70000   160000                 0      420000
Dominican Republic         0        0                 0      140000
Ecuador                    0        0            120000           0
England                    0        0            478000           0
France                 95000   145000            375000      459000
Germany                    0   160000                 0      355000
Italy                  48000   460000             88000           0
Ivory Coast                0        0            105000           0
Montenegro             79000        0                 0           0
Morocco                39000   160000                 0           0
Poland                 86000   125000                 0           0
Portugal               65000   405000                 0           0
Russia                 61000        0                 0           0
Scotland                   0        0             11000           0
Senegal                10000        0                 0           0
Serbia                     0        0            165000           0
Spain                      0        0            260000     1404000
Wales                      0        0             13000      355000

In [37]:
s = df.pivot_table(columns = 'Position', index = 'Club', values = 'SprintSpeed', aggfunc = 'mean',
fill_value=0)
s[(s.ST>70)].sort_values('ST',ascending=False).head(13)

s = df.groupby(['Position'])['SprintSpeed'].mean().sort_values(ascending=False).head(15)
s

Position,CAM,CB,CDM,CF,CM,GK,LAM,LB,LCB,LCM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Club,,,,,,,,,,,,,,,,,,,,,
VitÃ³ria,70.666667,56.000000,64.0,0.0,0.0,42.500000,0,68.0,61.0,0.0,...,75.000000,0.0,0,72.0,0,0.000000,0,0.0,0.0,91.000000
Sydney FC,79.500000,59.000000,0.0,0.0,64.5,44.666667,0,74.0,31.0,62.0,...,64.333333,47.0,0,0.0,0,67.000000,71,74.0,0.0,88.000000
CD Lugo,72.000000,48.500000,50.0,0.0,56.0,44.500000,0,72.5,71.0,0.0,...,72.333333,0.0,0,0.0,0,65.000000,68,0.0,0.0,87.000000
BrÃ¸ndby IF,74.000000,68.000000,65.0,0.0,65.5,38.000000,0,69.0,0.0,0.0,...,78.000000,0.0,0,0.0,0,0.000000,0,0.0,0.0,84.666667
Leicester City,74.000000,57.000000,0.0,0.0,57.0,60.000000,0,75.0,0.0,0.0,...,80.500000,30.0,0,0.0,0,71.666667,0,0.0,0.0,84.500000
Manchester United,0.000000,69.200000,59.0,0.0,64.5,51.000000,0,72.5,0.0,0.0,...,0.000000,74.0,0,79.0,0,85.000000,0,79.0,0.0,84.000000
Feyenoord,0.000000,71.500000,0.0,0.0,67.0,33.500000,0,77.5,0.0,0.0,...,80.000000,0.0,0,0.0,0,0.000000,0,75.0,0.0,84.000000
FC ZÃ¼rich,0.000000,59.333333,73.0,0.0,65.6,43.000000,0,75.0,59.0,74.0,...,0.000000,44.0,0,0.0,0,84.000000,0,0.0,0.0,84.000000
KRC Genk,57.000000,68.000000,60.0,0.0,0.0,46.500000,0,0.0,79.0,0.0,...,89.000000,0.0,0,0.0,0,0.000000,0,0.0,0.0,84.000000
FC Bayern MÃ¼nchen,68.500000,68.666667,53.0,0.0,70.6,37.500000,67,72.0,64.0,0.0,...,0.000000,72.0,68,0.0,0,0.000000,0,0.0,0.0,84.000000
Gillingham,81.333333,59.000000,70.0,0.0,68.5,32.000000,0,76.0,70.0,63.0,...,73.000000,70.0,77,0.0,0,0.000000,60,0.0,0.0,83.600000
FC Porto,0.000000,73.000000,68.0,0.0,74.0,39.000000,0,85.0,78.0,0.0,...,0.000000,67.0,0,0.0,0,92.000000,88,0.0,0.0,83.000000
FC St. Gallen,0.000000,50.000000,62.0,0.0,0.0,32.000000,0,72.5,64.0,68.0,...,70.000000,0.0,67,0.0,0,0.000000,0,84.5,0.0,83.000000